{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
    <title>Yeni Yıl Sayacı</title>
    <meta name="description" content="Yıl başına kadar geri sayım aracı,web sitesi sürekli günce ve anlık bilgileri çekerek değerli ziyaretçilerimize en doğru bilgiyi göstermektedir" />
    <meta property="og:title" content="Yeni Yıl Sayacı" />
    <meta property="og:description" content="Yeni Yıl Sayacı" />
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="js/newYear.js "></script>
 {% endblock %}
{% block body %}
    {{ parent() }}
<div id="shadowBox">
    <p lang="tr" style="top: 50%" class="rainbow rainbow_text_animated" id="demo"></p>
</div>

    <div class="flex-center">
        <a href="https://twitter.com/share?url=https://scmsayac.xyz/new-year&text=Bu Sayacı Görmelisiniz"><i class="fa fa-twitter fa-2x icon-3d"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://scmsayac.xyz/new-year"><i class="fa fa-facebook fa-2x icon-3d"></i></a>
        <a href="whatsapp://send?text=Bu Sayacı Görmelisiniz: https://scmsayac.xyz/new-year"><i class="fa fa-whatsapp fa-2x icon-3d"></i></a>
    </div>
{% endblock %}