{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
    <title>Yeni Yıl Sayacı</title>
    <meta name="description" content="Yıl başına kadar geri sayım aracı,web sitesi sürekli günce ve anlık bilgileri çekerek değerli ziyaretçilerimize en doğru bilgiyi göstermektedir" />
    <meta property="og:title" content="Yeni Yıl Sayacı" />
    <meta property="og:description" content="Yeni Yıl Sayacı" />
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="js/newYear.js "></script>
 {% endblock %}
{% block body %}
    {{ parent() }}
<div id="shadowBox">
    <p lang="tr" class="rainbow rainbow_text_animated" id="demo"></p>
</div>
    <section>
        <div class="buttons">
            <div class="button">
                <div class="icon">
                    <a href="https://www.instagram.com/?url=https://scmsayac.xyz/new-year" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                </div>
                <a href="https://www.instagram.com/?url=https://scmsayac.xyz/new-year" target="_blank" rel="noopener"> <span>Instagram</span></a>
            </div>

            <div class="button">
                <div class="icon">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://scmsayac.xyz/new-year"> <i class="fab fa-facebook-f"></i></a>
                </div>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://scmsayac.xyz/new-year">    <span>Facebook</span></a>
            </div>
            <div class="button">
                <div class="icon">
                    <a href="https://twitter.com/share?url=https://scmsayac.xyz/public/secim&text=Bu Sayacı Görmelisiniz"><i class="fab fa-twitter"></i></a>
                </div>
                <a href="https://twitter.com/share?url=https://scmsayac.xyz/public/secim&text=Bu Sayacı Görmelisiniz"><span>Twitter</span></a>
            </div>
            <div class="button">
                <div class="icon">
                    <a href="whatsapp://send?text=Bu Sayacı Görmelisiniz: https://scmsayac.xyz/new-year"><i class="fab fa-whatsapp"></i></a>
                </div>
                <a href="whatsapp://send?text=Bu Sayacı Görmelisiniz: https://scmsayac.xyz/new-year"><span>whatsapp</span></a>
            </div>
        </div>
    </section>

{% endblock %}