{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
        <title>Kayıt Sayafası</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
{% endblock %}
{% block body %}
    {{  parent()  }}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="/registerAuth">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="email" id="email"  class="form-control" name="email" type="email" placeholder="E-mail">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="userName" id="userName"  class="form-control" name="username"  placeholder="Kullanıcı adı">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input  type="password" id="password1" class="form-control" autocomplete="off" name="password1" placeholder="Şifre" required>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input  type="password" id="password2" class="form-control" autocomplete="off" name="password2" placeholder="Tekrar Şifre" required>
                        </div>
                    </form>
                    <div class="form-group">
                        <button type="button" id="register" value="Kayıt Ol" class="btn btn-primary">Giriş</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--SweetAlert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
            $('#register').click(function (){
                var email = $('#email').val();
                var password1 = $('#password1').val();
                var password2 = $('#password2').val();
                var userName = $('#userName').val();
                var serializedData = ($('#email').val(),$('#password1').val());
                if(email == ''   || password1 == '' || password2 == ''|| userName == '' ){
                    swal({
                        title : "Alanlar Boş!!",
                        text : "Boş Alanları Doldurunuz",
                        icon : "warning",
                        button : "Tamam"
                    });
                } else if (password1 != password2) {
                    swal({
                        title : "Şifreler Uyuşmamaktadır!!",
                        text : "Girdiğiniz Şifreleri Kontrol Ediniz",
                        icon : "warning",
                        button : "Tamam"
                    });
                }
                else if (password1.length < 6 ) {
                    console.log(password1.length)
                    swal({
                        title : "Girdiğiniz şifre 6 karakterden küçük olamaz.",
                        text : "Girdiğiniz Şifreleri Kontrol Ediniz",
                        icon : "warning",
                        button : "Tamam"
                    });
                }else{
                    $.ajax({
                        url: "/registerAuth",
                        type: "POST",
                        data: {'email': email,'password1':password1,'password2':password2,'userName':userName},
                        success:  function () {
                            swal("Kayıt başarıyla eklendi giriş ekranına yönlendiriliyorsunuz.");
                            setTimeout(_=> {
                                window.location.replace("/login");
                            }, 3000)

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                        swal("Kayıt eklenemedi bu email adresi zaten kullanılmakta.");
                    }
                    });
                }
        });
    </script>

{% endblock %}