{% extends "base.html.twig" %}
    {% block head %}
        {{ parent() }}
        <title>Seçim Sayacı</title>
        <meta name="description" content="Seçim gününe kadar bir geri sayım aracı, sürekli güncel ve anlık bilgileri çekerek değerli ziyaretçilerimize en doğru bilgiyi göstermektedir" />
        <meta property="og:title" content="Seçim Sayacı" />
        <meta property="og:description" content="Seçim Sayacı" />
    {% endblock %}
        {% block stylesheets %}
            {{ parent() }}

        {% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="js/secimCountdown.js"></script>
 {% endblock %}

{% block body  %}
    {{ parent() }}
        <div id="shadowBox">
            <p lang="tr" class="rainbow rainbow_text_animated" id="demo"></p>
        </div>
    <section>
        <div class="buttons">
            <div class="button">
                <div class="icon">
                    <a href="https://www.instagram.com/?url=https://scmsayac.xyz/public/sayac" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                </div>
                <a href="https://www.instagram.com/?url=https://scmsayac.xyz/public/sayac" target="_blank" rel="noopener"> <span>Instagram</span></a>
            </div>

            <div class="button">
                <div class="icon">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://scmsayac.xyz/public/sayac"> <i class="fab fa-facebook-f"></i></a>
                </div>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://scmsayac.xyz/public/sayac">    <span>Facebook</span></a>
            </div>
            <div class="button">
                <div class="icon">
                    <a href="https://twitter.com/share?url=https://scmsayac.xyz/public/secim&text=Bu Sayacı Görmelisiniz"><i class="fab fa-twitter"></i></a>
                </div>
                <a href="https://twitter.com/share?url=https://scmsayac.xyz/public/secim&text=Bu Sayacı Görmelisiniz"><span>Twitter</span></a>
            </div>
            <div class="button">
                <div class="icon">
                    <a href="whatsapp://send?text=Bu Sayacı Görmelisiniz: https://scmsayac.xyz/public/secim"><i class="fab fa-whatsapp"></i></a>
                </div>
                <a href="whatsapp://send?text=Bu Sayacı Görmelisiniz: https://scmsayac.xyz/public/secim"><span>whatsapp</span></a>
            </div>
        </div>
    </section>

{% endblock %}