{% extends "base.html.twig" %}
    {% block head %}
        {{ parent() }}
        <meta name="description" content="Seçim gününe kadar bir geri sayım aracı aynı zamanda döviz kurlarını efektif olarak gösteren bir web sitesi sürekli günce ve anlık bilgileri çekerek değerli ziyaretçilerimize en doğru bilgiyi göstermektedir" />
    {% endblock %}
        {% block stylesheets %}
            {{ parent() }}

        {% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="js/secimCountdown.js"></script>
 {% endblock %}

{% block body  %}
    {{ parent() }}

        <div id="shadowBox">
            <p lang="tr" class="rainbow rainbow_text_animated" id="demo"></p>
        </div>
{% endblock %}