{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="Okullar覺n tatil olmas覺na geri say覺m arac覺,web sitesi" />
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="js/school.js "></script>
 {% endblock %}
{% block body %}
    {{ parent() }}
    <div id="shadowBox">
        <p lang="tr" style="top: 50%" class="rainbow rainbow_text_animated" id="demo"></p>
    </div>


{% endblock %}