{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
    {% block title %}Okulların kapanması sayacı{% endblock %}
    <meta name="description" content="Okulların tatil olmasına geri sayım aracı,web sitesi sürekli günce ve anlık bilgileri çekerek değerli ziyaretçilerimize en doğru bilgiyi göstermektedir" />
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="js/school.js "></script>
 {% endblock %}
{% block body %}
    {{ parent() }}
    <div id="shadowBox">
        <p lang="tr" style="top: 50%" class="rainbow rainbow_text_animated" id="demo"></p>
    </div>


{% endblock %}